.login-and-signup-view
  .row
    .columns
      = form_for @user, {:html => {:class => "new-user-form"}} do |f|

        - if @user.errors.any?
          .error_messages
            %h2 Form is invalid
            %ul
              - for message in @user.errors.full_messages
                %li= message
        .row
          .columns
            %h3
              Sign Up 

        .row
          .columns
            = f.label :name
            = f.text_field :name

        .row
          .columns
            = f.label :email
            = f.text_field :email
        .row
          .columns
            = f.label :password
            = f.password_field :password

        .row
          .columns
            = f.label :password_confirmation
            = f.password_field :password_confirmation

        .row
          .columns
            .actions= f.submit "Sign up", { class: 'submit-button' } 


