.large-3.large-centered.columns
  .login-box
    .row
      .large-12.columns
        = form_for @user do |f|
          - if @user.errors.any?
            .error_messages
              %h2 Form is invalid
              %ul
                - for message in @user.errors.full_messages
                  %li= message

          .row
            .large-12.columns.field
              = f.label :name
              = f.text_field :name
          
          .row
            .large-12.columns.field
              = f.label :email
              = f.text_field :email
          .row
            .large-12.columns.field
              = f.label :password
              = f.password_field :password

          .row
            .large-12.columns.field
              = f.label :password_confirmation
              = f.password_field :password_confirmation

          .row
            .large-12.columns.field
              .actions= f.submit "Submit", { class: 'button' } 

