<!-- TODO: SHOW RESV MADE IN THIS REST -->

<%if not (defined?(var)).nil? %> 
<%= link_to "Back to Pictures", pictures_url %> | <%= link_to "Edit", edit_picture_path(@picture) %> | <%= link_to "Delete", @picture, method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}  %>

<p><%= @picture.title %>, <%= @picture.artist %></p>
<%= image_tag @picture.url %>

<h1>My Account</h1>
<%=  user.name  %>

<% end %> 
<h3><%= @restaurant.name %></h3>
<p> </p>

<p><strong>name:</strong></p><%= @restaurant.name %></p>
<p><strong>seating_capacity:</strong></p><%= @restaurant.seating_capacity %></p>
<p><strong>address:</strong></p><%= @restaurant.address %></p>


<p><strong>categories:</strong></p>
<ul>
<% @restaurant.categories.each do |c|  %>
<li><%= link_to "#{c.name}", restaurants_path(category: c.name) %>  </p></li>
<% end %>

</ul>


<p><strong>yelpreviews:</strong></p>
<ul>
  <% @restaurant.yelpreviews.each do |y|  %>
  <% unless (y.review).blank?  %>
  <li>
    [<%= link_to url_helper(y.review), url_helper(y.review) %>]
  </li>
  <% end %>
<% end %>

</ul>

<p><strong>phone:</strong></p><%= @restaurant.phone %></p>
<p><strong>pricerange:</strong></p><%= @restaurant.pricerange %></p>

<% unless (@restaurant.website).blank?  %>
<p><strong>website:</strong></p> <%= link_to url_helper(@restaurant.website),  url_helper(@restaurant.website)  %>
<% end %>


<p><strong>Description: </strong></p><%= @restaurant.description %></p>

